<div class="card">
    <div class="card-body">

        <form [formGroup]="repairBayConfigForm">
            <p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="tableRowArray.controls"
                [scrollable]="true" scrollHeight="600px" frozenWidth="900px" editMode="row"
                [rowTrackBy]="trackByFunction">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:200px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-repairBayConfig let-columns="columns" let-rowIndex="rowIndex"
                    let-ri="rowIndex" let-editing="editing">
                    <ng-container formArrayName="tableRowArray">
                        <tr [formGroupName]="rowIndex" [pEditableRow]="repairBayConfig">
                            <ng-container *ngFor="let col of columns;">
                                <ng-container [ngSwitch]="col.field">
                                    <ng-container *ngSwitchCase="'editor'" style="text-align:center">
                                        <td>
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                                icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                                icon="pi pi-check"
                                                class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                                icon="pi pi-times"
                                                class="p-button-rounded p-button-text p-button-danger"></button>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'isLive'">
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input type="checkbox" formControlName="isLive">
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    <input type="checkbox"
                                                        [checked]="repairBayConfig.get('isLive').value">
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'andonName'">
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input pInputText type="text" formControlName="andonName">
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{repairBayConfig.get('andonName').value}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'bayCount'">
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <select formControlName="bayCount"
                                                        (change)="updateBayItemControlsArray(rowIndex, $event.target.value)">
                                                        <option *ngFor="let count of repairBayCounts"
                                                            [value]="count.value">
                                                            {{count.label}}
                                                        </option>
                                                    </select>
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{repairBayConfig.get('bayCount').value}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <!-- have to fix this -->
                            <ng-container *ngIf="columns.length == 12">
                                <ng-container formArrayName="bayItemControlsArray">
                                    <ng-container
                                        *ngFor="let bay of bayItemControlsArray(rowIndex).controls; let bayIndex=index">
                                        <td [formGroupName]="bayIndex">
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <select [formControl]="bay">
                                                        <option *ngFor="let bayItem of bayItemArray"
                                                            [value]="bayItem.value">
                                                            {{bayItem.label}}
                                                        </option>
                                                    </select>
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    <!-- {{getRepairBayName(repairBayConfig.get('bayItemControlsArray').value[bayIndex])}} -->
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </ng-container>
                </ng-template>
            </p-table>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm pull-left" (click)="addNewRow()">Add Row</button>
    </div>
</div>
